{% comment %}
We construct the site naviagion by loading a list of the site's pages
and filtering to just those with the front matter of:
  group: "in_local_navigation"
and we order by adding
  order: 2 (whatever number)
{% endcomment %}
{% assign module_list = site.posts | sort:"order" %}
{% assign group = 'module' %}

{% for node in module_list %}
  {% if group == node.group %}
    {% if node.category == 'Cross-domain tools and resources' %}
    to do: group by category..
      <h3>{{node.title}}</h3>
      {{node.content}}
    {% endif %}
  {% endif %}
{% endfor %}
{% assign pages_list = nil %}
{% assign group = nil %}
